html, body {
    background: white;
}
* {
    margin: 0;
}
.slider {
    width: 500px;
    height: 500px;
    border: 15px solid #ffff;
    position: relative;
    margin-left: 300px;
    margin-top: 2rem;
}
.slider img {
    max-width: 500px;
    width: 100%;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}

.slider-line{
    position: relative;
    display: flex;
}


.prev-button,
.next-button {
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    font-size: 1.2rem;
}

.active {
    transform: scale(1.4);
    transition: transform 1s ease;
    margin-right: 50px;
    margin-left: 50px;
}


.info {
    margin: 20px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.title h1 {
    font-size: 3em;
}

.titleMini h3 {
    padding-top: 10px;
    font-size: 2em;
    font-weight: normal;
}

.number{
    padding-top: 20px;
    color: grey;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 40%;
    max-height: 40%;
}
.buttons{
    padding-left: 300px;
    margin-bottom: 50px;
}
.next-button{
    margin-left: 740px;
}
.slider img,
.buttons .prev-button:hover,
.buttons .next-button:hover {
    cursor: url("png/Vector.png"), auto;
}


